# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Ambiente virtual
venv/
.venv/
env/

# Banco de dados local
*.db
*.sqlite3

# Variáveis de ambiente
.env

# IDEs e sistema
.idea/
.vscode/
.DS_Store
Thumbs.db
